* {
  font-size: 62.5%;
  font-family: 'Oswald', sans-serif;
}

.card.is-flipped {
  transform: translateX(-100%) rotateY(-180deg);
}

.circle-one {
  animation-delay: 0.1s;
}
.circle-two {
  animation-delay: 0.2s;
}
.circle-three {
  animation-delay: 0.3s;
}
